@model ProjetoAllVoyaje.Models.OpcoesDatas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OpcoesDatas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacoteViagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacoteViagem.PacoteViagemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OpcoesDatasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
