@model IEnumerable<ProjetoAllVoyaje.Models.PacoteCliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_cinco.cshtml";
    var eAdmin = ViewData["admin"].ToString();
}

<h1 class="text-center m-4">Meus Pacotes</h1>
<div class="linha"></div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdPessoas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacote.NomePacote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdPessoas)
            </td>
            <td>
                    @if (eAdmin=="True")
                    {
                        <button id="Botaoeditar"><a asp-action="Edit" asp-route-id="@item.PacoteClienteId" class="btn">Editar</a></button>
                        <button id="Botaoeditar"><a asp-action="Details" asp-route-id="@item.PacoteClienteId" class="btn">Detalhes</a></button>
                        <button id="BotaoNormalDelete"><a asp-action="Delete" asp-route-id="@item.PacoteClienteId" class="btn">Deletar</a></button>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
