@model ProjetoAllVoyaje.Models.PacoteViagem
@{
    ViewData["Title"] = "Passagens";
    var quantPessoas = Int32.Parse( ViewData["quantPessoas"].ToString() );
    var valorTotal = quantPessoas * Model.Preco;

}

<div class="containerHome">

    

    <div class="preenchimento">
        <h1 class="comprar-questao">Confirmar compra?</h1>

        <h2 class="realisar-compra3">@Model.NomePacote</h2>
        
          <h4 class="realisar-compra">Valor total: R$ @valorTotal</h4>
            <h4 class="realisar-compra2">Quantidade de pessoas: @quantPessoas</h4>
       
    </div>

    <div class="modal-footer3">
        <form>
            <input type="number" name="quantPessoas" id="quantPessoas" value="@quantPessoas" readonly style="visibility:hidden" />
            <br />
            <button type="submit" asp-action="Salvar" asp-controller="Passagens" asp-route-id="@Model.PacoteViagemId" class="btn compra2">Confirmar</button>
        </form>
    </div>
    



</div>